@use "./mixins" as *;
@use "./variables" as *;
@use "./screen";
@use "./mainButtons";
@use "./components";


.calculator {
    width: 98vw;
    height: 98vh;
    border: solid black 2px;
    background-color: $colorBlack;
}





