@use "./mixins" as *;
@use "./variables" as *;
@use "./screen";
@use "./mainButtons";
@use "./components";


.calculator {
    width: 98vw;
    height: 98vh;
    border: solid black 2px;
    background-color: $colorBlack;
}

@media screen and (min-width: 550px) {
    .calculator{
    margin:  10rem auto;
        width: 40rem;
        height: 70rem;
    }
}

