@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


$primaryFont : 'Bebas Neue', cursive; 

$colorRed: #873B3D;
$colorGreen: #3D6635;
$colorWhite: #FCFCFC;
$colorBlack: #010101;
$darkGrey: #171717;

$largeFont: 4rem

